.extrude-button {
  width: 100%;
  height: 75px;
  border-radius: 0;
  box-shadow: none;
  font-size: 2em;

}

.extrude-button-column {
  padding: 0 !important;
}

.extrude-button-row {
  margin-bottom: 0;
}
