@import '../Components/colors.scss';

.nav-bar-row {
  margin-bottom: 0;
}

.nav-button {
  background-color: black;
  color: white;
  border: solid purple 5px;
  height: 80px;
  margin: auto;
  font-size: 55px;
  cursor: pointer;
}

.nav-icon {
  margin-top: 8px;
}

.active-nav {
  background: $gold;
}
