@import '../Components/colors.scss';

.nav-bar-row {
  margin-bottom: 0;
}

.nav-button {
  background-color: black;
  color: white;
  border: solid purple 4px;
  height: 50px;
  margin: auto;
}

.nav-icon {
  margin-top: 8px;
}

.active-nav {
  background: $gold;
}
